* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 5rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: monospace, sans-serif;
}
/* Nav Bar.*/
nav{
    background-color: rgb(245, 245, 245);
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
nav a {
    color: rgb(0, 0, 0);
    font-size: 27px;
    font-family: monospace, sans-serif;
    padding: 25px 2.5%;
    text-decoration: none;
    float: left;
}
nav #active {
    background-color: rgb(255, 255, 255);
}
h1 {
    padding: 5rem;
    text-align: center;
}

p, h2 {
    margin: 2%;
    position: relative;
}